/* Global Styles */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

p {
  line-height: 1.4;
  font-size: 14px;
  color: #828282;
}

h1, h3 {
  color: #404040;
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 2rem 0 1.5rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-weight: 600;
}

.container {
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container:nth-child(2n) {
  background-color: #D3D3D3;
}

@media screen and (max-width: 480px) {

  .container {
    max-width: 480px;
  }

  .container:nth-child(2n) {
    background-color: white;
  }
}

/* Header Styles*/

header.container {
  padding: 0 1.5rem;
  justify-content: space-between;
  height: 4rem;
  background-color: white;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

header .logo span {
font-weight: 300;
color: gray;
}

header nav.desktop ul, footer nav ul {
  display: flex;
  padding-right: 1.5rem;
}

nav.mobile {
  display: none;
}

nav li {
  padding-left: 1rem;
}

@media screen and (max-width: 480px) {

  nav.desktop, header .logo {
    display: none;
  }

  nav.mobile {
    display: block;
    width: 100%;
  }

  nav.mobile ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav.mobile ul li {
  padding: 0;
  }
}

/* Hero Styles */

.hero.container {
  justify-content: center;
  align-items: center;
}

.large-image {
  padding: 1rem 0;
  width: 60%;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-image img, .large-image video {
  width: 100%;
}

.cta {
  margin-right: 2rem;
  max-width: 19rem;
}

.cta h1 {
  padding-bottom: 1.25rem;
}

.button {
  margin-top: 24px;
  background-color: #404040;
}

.button p {
  color: #ffffff;
  padding: 0.5rem 0;
  text-align: center;
}

@media screen and (max-width: 480px) {

  .hero.container {
    flex-direction: column;
    align-items: flex-start;
  }

  .large-image {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .cta {
    padding: 1rem 0;
    display: block;
    min-width: 92%;
    padding: 2rem 0;
    margin: 0 auto;
  }

  .cta h1 {
    padding-bottom: 2rem;
  }

}
/* Info Section Styles */

.infoblock.container {
  align-items: flex-start;
}

.large-image-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p.attribution {
  color: black;
  font-size: 0.75rem;
  margin-top: 1.5rem;
}

.info-stack {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0 1rem 1rem;
}

.info:nth-child(3n) {
  background-color: #D3D3D3;
}

.info-img {
  width: 35%;
}

.info-img img {
  width: 100%;
  height: auto;
}

img.mobile {
  display: none;
}

.info-text {
  width: 65%;
}

.info-text h3, .info-text p, .info-text a {
  padding: 0 0 0.5rem 0.5rem;
  line-height: 1.5;
}

.info-text a {
  font-size: 0.75rem;
  color: #0000ff;
}

@media screen and (max-width: 480px) {
  .infoblock .large-image {
    display: none;
  }

  .infoblock {
    border-bottom: #D3D3D3 solid 1px;
  }

  .info-stack, .info-img {
    width: 100%;
  }

  .info-img img {
    max-width: 100%;
    height: auto;
  }

  .info {
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
  }

  img.desktop {
    display: none;
  }

  img.mobile {
    display: inline-block;
  }

  .info-text {
    padding: 1rem 0 2rem 1rem;
  }

  .info:nth-child(3n) {
    padding-bottom: 0;
    background-color: white;
  }

}

/* Courses Section Styles */

.courses.container {
  flex-direction: column;
  padding: 1rem 0;
}

.courses.container h2 {
  padding: 0;
}

.course-block {
  display: flex;
  padding: 1rem 3.5rem 0 3.5rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  align-items: center;
}

.course {
  width: 29%;
  margin: 1rem 1rem;
  background-color: white;
  padding-bottom: 0.5rem;
  height: 18.5rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course-text {
  padding: 1rem;
}

.course-text p {
  padding-top: 0.5rem;
}

@media screen and (max-width: 480px) {

 .courses.container {
   align-items: stretch;
   padding: 1rem 1rem 2rem 1rem;
   max-width: 100%;
   margin: auto;
   border-bottom: 1px solid #D3D3D3;
 }

  .courses.container h2 {
    text-align: center;
    margin: 1rem auto;
  }

  .course img {
    display: none;
  }

  .course-text p {
    display: none;
  }

  .course-block {
    flex-direction: column;
    padding: 0;
  }

  .course {
    width: 100%;
    height: auto;
    padding: 1rem 0 1.5rem 0;
    margin: 0 0 0.5rem 0;
    background-color: #D3D3D3;
  }

  .course h3 {
    width: 100%;
  }

}

/* Thesis Section Styles */

.thesis.container {

  flex-direction: column;
}

.thesis-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thesis-block .info-stack {
  justify-content: flex-start;
  padding-top: 1rem;
}

.thesis-block .info-stack .info:nth-child(2n+1) {
  background-color: #D3D3D3;
}

.large-image-text h3 {
  padding: 1.5rem 0 .5rem 0;
}

@media screen and (max-width: 480px) {

  .thesis-block .info-stack, .thesis-block .large-image-text {
  display: none;
  }

  .thesis-block .large-image {
    padding-bottom: 1.5rem;
  }

  .thesis h2 {
  padding-bottom: 1rem;
  }

}

/* Footer Styling */

footer {
  max-width: 1024px;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  height: 4rem;
  background-color: white;
  margin: 0 auto;
  border-top: 1px solid #D3D3D3;
}

.copyright, footer nav {
  padding: 1rem 0;
}

footer p {
  font-size: 0.75rem;
}
footer nav ul a {
  color: #828282;
  font-size: 0.75rem;
}

@media screen and (max-width: 480px) {
  footer {
    height: auto;
  }

}
